# Node modules and system logs
node_modules/
npm-debug.log

# Reports and temporary files
reports/
playwright-report/
test-results/

#Local system files
.DS_Store
.idea/
.vscode/
.env
/playwright-report/
/blob-report/
/playwright/.cache/
